body {
    margin: 0;
    background-color: #ccc;
}

h1,
p {
    margin: 0;
}


/* instruction */

#instruction {
    padding: 5%;
}


/* waterfall */

#waterfall {
    /* 必要-1 */
    position: relative;
    margin: 0 auto;
}

#waterfall::after {
    clear: both;
    display: block;
    content: '\200b';
    width: 0;
    height: 0;
}

#waterfall .box {
    /* 必要-2 ？？？ */
    /* 除非一开始就设置了 posa 否则需要 float 使得第一个 item 元素的宽度计算正确
      （而非宽度为 block 块级元素的“占整行”）。即下面 float 和 position 二必选一。
    */
    float: left;
    /* 设置 fl 能使尚未调用 waterfall 时候的样式还过得去 */
    // position: absolute;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    background-color: #fff;
}

#waterfall img {
    display: block;
    width: 250px;
}
